coverage/**
node_modules/**
dist/**
.next/**
.vscode/**
src/index.html
build/**
scripts/**
config/**
src/registerServiceWorker.js
packages/ui/.cache/**
packages/ui/dist/**
packages/ui/build/**
packages/ui/node_modules/**
packages/cube/.cache/**
packages/cube/dist/**
packages/cube/node_modules/**
packages/cube/src/styles/**
