:root {
  --accent: #024e8f;
  --secondary: #777;

  font-size: 16px;

  @media(max-width: 1200px) {
    font-size: 14px;
  }

  @media(max-width: 992px) {
    font-size: 14px;
  }

  @media(max-width: 768px) {
    font-size: 12px;
  }

  @media(max-width: 480px) {
    font-size: 10px;
  }
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/opensans/OpenSans-Regular.ttf");
  font-display: swap;
}

body {
  min-height: 700px;
  font-size: 16px;
  position: relative;
  font-family: "OpenSans", sans-serif !important;
}

.page {
  min-height: 600px;
}

img {
  width: 100%;
}

p {
  color: #777777;
  font-size: 1rem;
}

td {
  font-size: 1rem;
}

div {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  p {
    margin-bottom: 0;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

p {
  // line-height: normal;
}

.text {
  &-small {
    font-size: .75rem;
  }

  &-md {
    font-size: .9rem;
  }

  &-lg {
    font-size: 1.1rem;
  }

  &-big {
    font-size: 1.2rem;
  }

  &-underline {
    text-decoration: underline;
  }

  &-normal {
    font-weight: normal;
  }

  &-bold {
    font-weight: bold;
  }

  &-accent {
    color: var(--accent) !important;
  }

  &-crossed {
    text-decoration: line-through;
  }

  &-secondary {
    color: var(--secondary);
  }

  &-black {
    color: #000;
  }

  &-light {
    color: #cccccc;
  }

  &-xsmall {
    font-size: .5rem;
  }

  &-mobile-invisible {
    @media(max-width: 992px) {
      display: none;
    }
  }
}

.icon {
  height: 0.75rem;
  width: auto;

  &-sm {
    height: 1.2rem;
  }

  &-md {
    height: 1.5rem;
  }

  &-big {
    height: 2rem;
  }

  &-cart {
   @media(max-width: 480px){
    height: 1.7rem
   }
  }
}

.img {
  &-small {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  &-gray {
    cursor: pointer;
    filter: grayscale(100%);
    transition: all .25s ease;

    &:hover {
      filter: grayscale(0);
    }
  }
}

// Carousel
// Dots
.carousel-item {

}

.carousel-caption {
  right: auto;
  text-align: left;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  color: var(--accent);
  @media(max-width: 768px) {
    width: 200px;

  }
  @media(max-width: 480px) {
    width: 135px;

  }
}

.carousel-control {

  &-prev,
  &-next {
    display: none;
  }
}

.carousel-indicators {
  right: auto;

  li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #004a8b;
    box-sizing: border-box;

    &.active {
      background: #014c8d;
    }
    @media(max-width: 768px){
      width: 10px;
      height: 10px;
    }
    @media(max-width: 575px){
      width: 8px;
      height: 8px;
    }
  }
}

// Slider Carousel
.react-multi-carousel-list {
  box-sizing: border-box;
}

.radius {
  border-radius: 50%;
}

.flex-columns {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  li {
    flex: 0 0 33.333333%;
  }

  img {
    height: 35px;
    object-fit: contain;
  }
}

.list a.active {
  .category__tick {
    display: block;
  }

  p {
    color: var(--accent);
  }

  img {
    filter: invert(19%) sepia(99%) saturate(1604%) hue-rotate(189deg) brightness(93%) contrast(102%);
  }
}

.list a {
  * {
    transition: .25s ease all;
    //color: #777;
  }

  img {
    filter: invert(51%) sepia(0%) saturate(1427%) hue-rotate(151deg) brightness(89%) contrast(81%);
    transition: none;
  }
  .img {
    filter: invert(100%) sepia(4%) saturate(18%) hue-rotate(238deg) brightness(106%) contrast(100%);
  }
  &:hover {
    text-decoration: none;
    color: var(--accent);

    img {
      filter: invert(14%) sepia(88%) saturate(3341%) hue-rotate(196deg) brightness(93%) contrast(98%);
    }
    .img {
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(306deg) brightness(103%) contrast(101%);
    }
    * {
      color: var(--accent);
    }
  }
}

.category__tick {
  display: none;
}

.circle {
  display: flex;
  align-items: center;

  justify-content: center;
  background: #ff0000;
  border-radius: 50%;
  border: 1px solid white;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: -4px;
  padding: 3px 0 1px;
  line-height: normal;
  p{
    font-size: .65rem;
  }
  * {
    line-height: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
  }
  @media(max-width: 768px){
    padding: 1px 0 1px;
  }
}

.dropdown-menu.show {
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  white-space: nowrap;

  &.btn-primary {
    background: var(--accent);
    border: none;

    &:hover {
      background-color: #035ead
    }
  }

  &.btn-secondary {
    font-weight: bold;
    color: var(--secondary);
    background: #cccccc;
    border: #bbbbbb 1px solid;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  &.btn-warning {
    background-color: #FF932C;
    border: none;

    &:hover {
      background-color: #ffa149;
    }
  }

  &.btn-danger {
    background-color: #FF0000;
    border: none;

    &:hover {
      background-color: #fd4848;
    }
  }

  &.inactive {
    background: transparent;
    border: 1px #777777 solid;
    color: #777777;
    transition: all .25s ease;

    &:hover,
    &.green-active {
      border: 1px #00C708 solid;
      background: transparent;
      color: #00C708;
    }
  }


}

.dropdown-hover {
  position: relative;
  display: inline-block;
  width: 80px;
  white-space: nowrap;
  text-align: right;

  @media (max-width: 992px) {
    width: auto;
  }

  ul {
    display: none;
    z-index: 20;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-bottom: 2px;

    li {
      text-align: center;
      padding: 2px 1px;
      border-bottom: 1px dashed var(--accent);

      span {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &:hover ul {
    display: block;
  }
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* nProgress */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}


.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.clamp-lines__button{
  display: none
}