.NavItems {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    @media(max-width: 400px) {
        margin-left: 0;

        &>div:first-child {
            margin-left: 0;
        }
    }

    &>div {
        cursor: pointer;
        font-size: 1rem;
        margin-left: .5rem;
    }

    &.IsMobile {
        display: none;



        @media(max-width: 992px) {
            display: flex;
        }
    }
}

.CartRadius {
    background: #FFFFFF;
    border: 0.5px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 6px;
    text-align: center;
    line-height: normal;
    box-shadow: -5px -5px 10px #EDEDED, 5px 5px 10px rgba(0, 0, 0, 0.25), inset -2px -2px 3px rgba(117, 117, 117, 0.25);
    @media(max-width: 992px){
        box-shadow: -1px 3px 4px #EDEDED, 1px 1px 4px rgba(0, 0, 0, 0.25), inset -1px -1px 4px rgba(117, 117, 117, 0.25);
    }
    @media(max-width: 480px){
        box-shadow: -1px 1px 2px #EDEDED, 1px 1px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 2px rgba(117, 117, 117, 0.25);
    }
}

.LangImage {
    width: 25px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.Lang{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2px
}
