.Product {
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    overflow-x: hidden;

    h5,
    a>p {
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
    }
}