.Snackbar{
  width: 100%;
  text-align: center;
  padding: 15px 10px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.75);
  //background-color: #d4edda;
  color: white;
  z-index: 99999999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;


  transition: opacity .5s ease;
  @media(max-width: 480px){
    padding: 10px 10px;
  }
  &.Open{
    animation: open .15s linear;
  }
  &.Close{
    opacity: 0;
  }
  @keyframes open {
    from { opacity: 0 }
    to {opacity: 1}
  }
}

